.background {
    -fx-background-color: transparent;
}

.contentPaneBackground1 {
    -fx-background-color: #1E232F;
    -fx-background-image: url("/pictures/background/Background1.png");
}

.contentPaneBackground2 {
    -fx-background-color: #1E232F;
    -fx-background-image: url("/pictures/background/Background2.png");
}

.scrollPaneBackground {
    -fx-background-color: transparent;
}

.ground {
    -fx-stroke: transparent;
    -fx-stroke-width: 3;
}

.player {
    -fx-fill: transparent;
    -fx-stroke: rgba(0, 0, 0, .5);
}

.obstacle {
    -fx-fill: transparent;
    /* -fx-stroke: rgba(255, 255, 255, .5); */
}

.chunk {
    -fx-fill: transparent;
    /* -fx-stroke: rgba(255, 255, 255, .1); */
}

.healthRec {
    -fx-fill: url("/pictures/menu/heart.png");
}

.coin {
    -fx-fill: url("/pictures/collectibles/coin.png");
}

.key {
    -fx-fill: url("/pictures/collectibles/key.png");
}

.potionGreen {
    -fx-fill: url("/pictures/collectibles/Potion1.png");
}

.potionBlue {
    -fx-fill: url("/pictures/collectibles/Potion4.png");
}

.potionPurple {
    -fx-fill: url("/pictures/collectibles/Potion3.png");
}

.potionRed {
    -fx-fill: url("/pictures/collectibles/Potion2.png");
}

.potionYellow {
    -fx-fill: url("/pictures/collectibles/Potion5.png");
}



/* INVENTORY */

.inventoryBackground {
    -fx-background-color: #1E232F80;
}

.inventory {
    -fx-background-color: #1E232F;
    -fx-opacity: .9;
    -fx-border-color: white;
    -fx-border-width: 2;
}

.playerDisp {
    -fx-fill: url("/pictures/menu/inventoryPlayerIcon.png");
    -fx-background-radius: 10%;
}

.groundLine {
    -fx-stroke: rgba(255, 255, 255, .5);
    -fx-stroke-width: 5;
}

.dividerLine {
    -fx-stroke: rgba(255, 255, 255, .2);
    -fx-stroke-width: 2;
}

.inventoryAmountLabel {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 16;
    -fx-alignment: CENTER-LEFT;
}

.xLabel {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 16;
    -fx-alignment: CENTER-RIGHT;
}

.usePotionLabel {
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-size: 16;
    -fx-alignment: CENTER;
    -fx-border-color: white;
    -fx-opacity: .6;
}

.usePotionLabel:hover {
    -fx-opacity: .9;
}



/* GAME MENU */
.gameMenu {
    -fx-background-color: #1E232F;
    -fx-opacity: .9;
}

.closeLabel {
    -fx-opacity: .7;
}

.closeLabel:hover {
    -fx-opacity: 1;
}

.menuLabel {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 28;
    -fx-alignment: CENTER;
    -fx-opacity: .7;
}

.menuLabel:hover {
    -fx-opacity: 1;
}

.backLabel {
    -fx-opacity: .7;
}

.backLabel:hover {
    -fx-opacity: 1;
}

.settingsMenu {
    -fx-background-color: #1E232F;
    -fx-opacity: .9;
}

.helpMenu {
    -fx-background-color: #1E232F;
    -fx-opacity: .9;
}

.helpContentPane {
    -fx-background-color: #1E232F;
}

.helpScrollPane {
    -fx-background-color: #1E232F;
}

.helpTitleLabel {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 40;
}

.oneRec {
    -fx-fill: url("/pictures/menu/1.png");
}

.twoRec {
    -fx-fill: url("/pictures/menu/2.png");
}

.threeRec {
    -fx-fill: url("/pictures/menu/3.png");
}

.fourRec {
    -fx-fill: url("/pictures/menu/4.png");
}

.fiveRec {
    -fx-fill: url("/pictures/menu/5.png");
}

.aRec {
    -fx-fill: url("/pictures/menu/a.png");
}

.dRec {
    -fx-fill: url("/pictures/menu/d.png");
}

.adRec {
    -fx-fill: url("/pictures/menu/ad.png");
}

.spaceRec {
    -fx-fill: url("/pictures/menu/space.png");
}

.iRec {
    -fx-fill: url("/pictures/menu/i.png");
}

.escRec {
    -fx-fill: url("/pictures/menu/esc.png");
}

.helpMenuLabel {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15;
}

.left {
    -fx-alignment: CENTER-LEFT;
}

.right {
    -fx-alignment: CENTER-RIGHT;
}

.center {
    -fx-alignment: CENTER;
}



/* ATTACKS */
.attackPane {
    /* -fx-border-color: rgba(255, 255, 255, .3); */
}



/* ENEMIES */
.enemyRec {
    -fx-fill: transparent;
    -fx-stroke: rgba(255, 255, 255, .7);
    -fx-stroke-width: 2;
}
