
/* WINDOW BACKGROUND */
.background {
    -fx-background-color: #1E232F;
    /* -fx-background-image: url("/pictures/background/startWindow.png"); */
}


/* START WINDOW */

.playButton {
    -fx-opacity: .6;
}

.playButton:hover {
    -fx-opacity: .9;
}

.loadScreen {
    -fx-background-color: #1E232F;
}



/* MISC */
.backLabel {
    -fx-opacity: .7;
}

.backLabel:hover {
    -fx-opacity: 1;
}

.previousLabel {
    -fx-opacity: .5;
}

.previousLabel:hover {
    -fx-opacity: .9;
}

.nextLabel {
    -fx-opacity: .5;
}

.nextLabel:hover {
    -fx-opacity: .9;
}

.loadingScreen {
    -fx-background-color: #1E232F;
}

.loadingScreenLevel {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 52;
    -fx-alignment: CENTER;
}



/* LEVEL MENU */
.levelMenu {
    -fx-background-color: #1E232F;
    -fx-opacity: .99;
}

.levelContentPane {
    -fx-background-color: #1E232F;
}

.levelScrollPane {
    -fx-background-color: #1E232F;
}

.levelGroupBG {
    -fx-fill: rgba(255, 255, 255, .05);
    -fx-background-radius: 5%;
    -fx-stroke: rgba(255, 255, 255, .4);
    -fx-stroke-width: 3;
    -fx-border-radius: 5%;
}

.levelGroupBG:hover {
    -fx-fill: rgba(255, 255, 255, .1);
}

.level1Img {
    -fx-fill: rgba(255, 255, 255, .3);
}

.level2Img {
    -fx-fill: rgba(255, 255, 255, .3);
}

.level3Img {
    -fx-fill: rgba(255, 255, 255, .3);
}

.level4Img {
    -fx-fill: rgba(255, 255, 255, .3);
}

.level5Img {
    -fx-fill: rgba(255, 255, 255, .3);
}

.level6Img {
    -fx-fill: rgba(255, 255, 255, .3);
}

.level7Img {
    -fx-fill: rgba(255, 255, 255, .3);
}

.level8Img {
    -fx-fill: rgba(255, 255, 255, .3);
}

.level9Img {
    -fx-fill: rgba(255, 255, 255, .3);
}

.level10Img {
    -fx-fill: rgba(255, 255, 255, .3);
}

.level11Img {
    -fx-fill: rgba(255, 255, 255, .3);
}

.level12Img {
    -fx-fill: rgba(255, 255, 255, .3);
}

.level3Img {
    -fx-fill: rgba(255, 255, 255, .3);
}

.levelLabel {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 22;
    -fx-alignment: CENTER;
}

.levelDescLabel {
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-size: 16;
    -fx-wrap-text: true;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
}

.levelDifficultyLabel {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 16;
    -fx-alignment: CENTER;
}



/* SETTINGS MENU */
.settingsMenu {
    -fx-background-color: #1E232F;
    -fx-opacity: .97;
}



/* HELP MENU */
.helpMenu {
    -fx-background-color: #1E232F;
    -fx-opacity: .97;
}

.helpContentPane {
    -fx-background-color: #1E232F;
}

.helpScrollPane {
    -fx-background-color: #1E232F;
}

.helpTitleLabel {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 40;
}

.oneRec {
    -fx-fill: url("/pictures/menu/1.png");
}

.twoRec {
    -fx-fill: url("/pictures/menu/2.png");
}

.threeRec {
    -fx-fill: url("/pictures/menu/3.png");
}

.fourRec {
    -fx-fill: url("/pictures/menu/4.png");
}

.fiveRec {
    -fx-fill: url("/pictures/menu/5.png");
}

.aRec {
    -fx-fill: url("/pictures/menu/a.png");
}

.dRec {
    -fx-fill: url("/pictures/menu/d.png");
}

.adRec {
    -fx-fill: url("/pictures/menu/ad.png");
}

.spaceRec {
    -fx-fill: url("/pictures/menu/space.png");
}

.iRec {
    -fx-fill: url("/pictures/menu/i.png");
}

.escRec {
    -fx-fill: url("/pictures/menu/esc.png");
}

.helpMenuLabel {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15;
}

.left {
    -fx-alignment: CENTER-LEFT;
}

.right {
    -fx-alignment: CENTER-RIGHT;
}

.center {
    -fx-alignment: CENTER;
}